@model IEnumerable<EstacioneiAqui.Models.Cliente>

@{
    ViewData["Title"] = "Clientes";
}

<h2>Clientes</h2>

<p>
    <a asp-action="Criar">Cadastrar Cliente</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ModeloDoVeiculo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Placa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataSaida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.ModeloDoVeiculo)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Placa)
                </td>
                <td>
                    @Html.DisplayFor(model => item.DataEntrada)
                </td>
                <td>
                    @Html.DisplayFor(model => item.DataSaida)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Status)
                </td>
                <td>
                    <a asp-action="Atualizar" asp-route-id="@item.Id">Atualizar</a> |
                    <a asp-action="Detalhes" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Deletar" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>